@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --custom-font: 'Bebas Neue';
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: var(--custom-font);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 10%;
}

.grid-container {
    display: grid;
    height: 95%;
    width: 75%;
}

.grid-item {
    border: 2px solid black;
    width: 100%;
}

/* ----- Phone Template ----- */




/* Tablet */
@media screen and (min-width: 450px) {
    
}

/* Desktop */
@media screen and (min-width: 760px) {
    #item2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #item4 {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    
    #item1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    } 

    #item8 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .grid-container {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, auto);
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 25px;
        margin: 15px 15px 0 15px;
    }

    ul {
        font-size: 22px;
        margin: 15px 0 0 30px;
    }
    
    p {
        font-size: 16px;
        margin: 10px;
    }

    .about {
        text-align: center;
        margin: 20px;
        font-size: 1.3vw;
    }
    span {
        margin: 20px;
        font-size: 1.5vw;
        text-align: right;
        color: gray;
    }
}

